Django==5.1
djangorestframework==3.15.2
djangorestframework-gis==1.1
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.4.0
drf-spectacular==0.28.0
drf-writable-nested==0.7.1
environs==11.0.0
geopy==2.4.1
gunicorn==22.0.0
psycopg[binary,pool]==3.2.1
python-magic==0.4.15 ; platform_system == "Windows"
python-magic-bin==0.4.14 ; platform_system == "Windows"
python-magic==0.4.27 ; platform_system == "Linux"
python-magic-bin @ git+https://github.com/julian-r/python-magic.git@6029e2d43ce0ee9f268c1f112c70e5417493190f ; platform_system == "Linux"
requests==2.32.3
